# App specific
node_modules/
docs/_book/
.tmp
npm-debug.log
.build/
lib
dist
build
lerna-debug.log
yarn-error.log
*.orig
.env
.env.*
.next/
.eslintcache
package-lock.json

# Editor specific
.vscode/
.idea/
.zed/
*.suo
*.user
*.sln.docstates

# Tool specific
.crush/

# Generated code
/generated/prisma

# Ignore user-uploaded files
/public/uploads/
